<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>head</key>
		<data></data>
		<key>canEdit</key>
		<false/>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>真实姓名</string>
		<key>content</key>
		<string>李晓华</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<true/>
		<key>title</key>
		<string>身份证号</string>
		<key>content</key>
		<string>510***********0335</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>手机号</string>
		<key>content</key>
		<string>18628951945</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>性别</string>
		<key>content</key>
		<string>男</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>出生年月</string>
		<key>content</key>
		<string>1992-05-27</string>
	</dict>
	<dict>
		<key>showArrow</key>
		<true/>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>身高</string>
		<key>content</key>
		<string>176cm </string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>体重</string>
		<key>content</key>
		<string>62kg</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>省 市 区</string>
		<key>content</key>
		<string>成都市锦江区</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<false/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>乡镇、街道</string>
		<key>content</key>
		<string>成都市武成大街</string>
	</dict>
	<dict>
		<key>canEdit</key>
		<true/>
		<key>cellH</key>
		<integer>49</integer>
		<key>bottomLineH</key>
		<real>0.5</real>
		<key>isNeedImg</key>
		<false/>
		<key>title</key>
		<string>详细地址</string>
		<key>content</key>
		<string>天涯庭苑</string>
	</dict>
</array>
</plist>
